*{
  font-family: 'VT323', monospace;
}

.container{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    background-color: rgb(166,179,164);
  }

.monitor-background{
  background-color: rgb(112,131,109);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 97%;
  height: 97%;
  border-radius: 10px;
}

.screen{
  background: radial-gradient(circle, rgb(22, 82, 49) 20%, rgb(0, 0, 0) 100%);
  border: 6px solid black;
  border-radius: 10px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  box-shadow: 0px 0px 5px 1px rgb(58, 140, 18);
  color: rgb(92, 217, 30);
  font-size: 20px;
  text-align: center;
  animation: glow 5s infinite;
  animation-direction: alternate;
}

.screen::before{
  content: "";
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%);
  background-size: 100% 20px, 3px 100%;
  pointer-events: none;
  z-index: -2;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.screen::after{
  content: "";
  background: rgba(18, 16, 16, 0.1);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  display: block;
  opacity: 0;
  z-index: -2;
  animation: screen-flicker 2s infinite;
}

.scanline1 {
  position: absolute;
  height: 10px;
  width: 100%;
  background-color: green;
  opacity: 0.1;
  animation: scanlines 4s infinite;
  animation-direction: reverse;
}

.scanline2 {
  position: absolute;
  height: 10px;
  width: 100%;
  background-color: green;
  opacity: 0.1;
  animation: scanlines 5s infinite;
  animation-delay: 1s;
  animation-direction: reverse;
}

.banner{
  text-align: left;
  display: flex;
  justify-content: center;
  font-size: 3px;
  color: rgb(154, 255, 120);
}

.title{
  margin-top: 1%;
  margin-bottom: 1%;
}

.bio{
  text-align: center;
  margin-top: -2%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 20px;
}

.command-list ul{
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.terminal-icon{
  font-size: 28px;
  border: 2px solid rgb(92, 217, 30);
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -15%;
}

.terminal-text{
  margin-top: 3%;
}

.command-list li, a:link, a:visited{
  display: inline-block;
  text-decoration: none;
  color: rgb(92, 217, 30);
}

@keyframes scanlines{
  from{top: 0;}
  to{top: 93%;}
}

@keyframes screen-flicker {
  0% {
    opacity: 0.28;
  }
  5% {
    opacity: 0.35;
  }
  10% {
    opacity: 0.24;
  }
  15% {
    opacity: 0.91;
  }
  20% {
    opacity: 0.18;
  }
  25% {
    opacity: 0.84;
  }
  30% {
    opacity: 0.66;
  }
  35% {
    opacity: 0.68;
  }
  40% {
    opacity: 0.27;
  }
  45% {
    opacity: 0.85;
  }
  50% {
    opacity: 0.96;
  }
  55% {
    opacity: 0.09;
  }
  60% {
    opacity: 0.20;
  }
  65% {
    opacity: 0.72;
  }
  70% {
    opacity: 0.53;
  }
  75% {
    opacity: 0.37;
  }
  80% {
    opacity: 0.71;
  }
  85% {
    opacity: 0.70;
  }
  90% {
    opacity: 0.70;
  }
  95% {
    opacity: 0.36;
  }
  100% {
    opacity: 0.24;
  }
}

@keyframes glow{
  0% {box-shadow: 0px 0px 5px 1px rgb(58, 140, 18);}
  25% {box-shadow: 0px 0px 5px 2px rgb(58, 140, 18);}
  50% {box-shadow: 0px 0px 5px 3px rgb(58, 140, 18);}
  75% {box-shadow: 0px 0px 5px 4px rgb(58, 140, 18);}
  100% {box-shadow: 0px 0px 5px 5px rgb(58, 140, 18);}
}

@media screen and (min-width: 592px){
  .container{
      width: 100%;
      height: 100%;
      position: fixed;
      top:0;
      left:0;
      background-color: rgb(166,179,164);
    }

  .monitor-background{
    background-color: rgb(112,131,109);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 97%;
    height: 97%;
    border-radius: 10px;
  }

  .screen{
    background: radial-gradient(circle, rgb(22, 82, 49) 20%, rgb(0, 0, 0) 100%);
    border: 6px solid black;
    border-radius: 10px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    box-shadow: 0px 0px 5px 1px rgb(58, 140, 18);
    color: rgb(92, 217, 30);
    font-size: 20px;
    text-align: center;
    animation: glow 5s infinite;
    animation-direction: alternate;
  }

  .screen::before{
    content: "";
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%);
    background-size: 100% 20px, 3px 100%;
    pointer-events: none;
    z-index: -2;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .screen::after{
    content: "";
    background: rgba(18, 16, 16, 0.1);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    display: block;
    opacity: 0;
    z-index: -2;
    animation: screen-flicker 2s infinite;
  }

  .scanline1 {
    position: absolute;
    height: 10px;
    width: 100%;
    background-color: green;
    opacity: 0.1;
    animation: scanlines 4s infinite;
    animation-direction: reverse;
  }

  .scanline2 {
    position: absolute;
    height: 10px;
    width: 100%;
    background-color: green;
    opacity: 0.1;
    animation: scanlines 5s infinite;
    animation-delay: 1s;
    animation-direction: reverse;
  }

  .banner{
    text-align: left;
    display: flex;
    justify-content: center;
    font-size: 3px;
    color: rgb(154, 255, 120);
  }

  .title{
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .bio{
    text-align: center;
    margin-top: -2%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 19px;
  }

  .command-list ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    text-align: center;
  }

  .terminal-icon{
    font-size: 40px;
    border: 2px solid rgb(92, 217, 30);
    width: 45px;
    height: 45px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8%;
  }

  .terminal-text{
    margin-top: 3%;
  }

  .command-list li, a:link, a:visited{
    display: inline-block;
    text-decoration: none;
    color: rgb(92, 217, 30);
  }

  @keyframes scanlines{
    from{top: 0;}
    to{top: 93%;}
  }

  @keyframes screen-flicker {
    0% {
      opacity: 0.28;
    }
    5% {
      opacity: 0.35;
    }
    10% {
      opacity: 0.24;
    }
    15% {
      opacity: 0.91;
    }
    20% {
      opacity: 0.18;
    }
    25% {
      opacity: 0.84;
    }
    30% {
      opacity: 0.66;
    }
    35% {
      opacity: 0.68;
    }
    40% {
      opacity: 0.27;
    }
    45% {
      opacity: 0.85;
    }
    50% {
      opacity: 0.96;
    }
    55% {
      opacity: 0.09;
    }
    60% {
      opacity: 0.20;
    }
    65% {
      opacity: 0.72;
    }
    70% {
      opacity: 0.53;
    }
    75% {
      opacity: 0.37;
    }
    80% {
      opacity: 0.71;
    }
    85% {
      opacity: 0.70;
    }
    90% {
      opacity: 0.70;
    }
    95% {
      opacity: 0.36;
    }
    100% {
      opacity: 0.24;
    }
  }

  @keyframes glow{
    0% {box-shadow: 0px 0px 5px 1px rgb(58, 140, 18);}
    25% {box-shadow: 0px 0px 5px 2px rgb(58, 140, 18);}
    50% {box-shadow: 0px 0px 5px 3px rgb(58, 140, 18);}
    75% {box-shadow: 0px 0px 5px 4px rgb(58, 140, 18);}
    100% {box-shadow: 0px 0px 5px 5px rgb(58, 140, 18);}
  }
}

@media screen and (min-width: 662px){
  .container{
      width: 100%;
      height: 100%;
      position: fixed;
      top:0;
      left:0;
      background-color: rgb(166,179,164);
    }

  .monitor-background{
    background-color: rgb(112,131,109);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 97%;
    height: 97%;
    border-radius: 10px;
  }

  .screen{
    background: radial-gradient(circle, rgb(22, 82, 49) 20%, rgb(0, 0, 0) 100%);
    border: 6px solid black;
    border-radius: 10px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    box-shadow: 0px 0px 5px 1px rgb(58, 140, 18);
    color: rgb(92, 217, 30);
    font-size: 20px;
    text-align: center;
    animation: glow 5s infinite;
    animation-direction: alternate;
  }

  .screen::before{
    content: "";
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%);
    background-size: 100% 20px, 3px 100%;
    pointer-events: none;
    z-index: -2;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .screen::after{
    content: "";
    background: rgba(18, 16, 16, 0.1);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    display: block;
    opacity: 0;
    z-index: -2;
    animation: screen-flicker 2s infinite;
  }

  .scanline1 {
    position: absolute;
    height: 10px;
    width: 100%;
    background-color: green;
    opacity: 0.1;
    animation: scanlines 4s infinite;
    animation-direction: reverse;
  }

  .scanline2 {
    position: absolute;
    height: 10px;
    width: 100%;
    background-color: green;
    opacity: 0.1;
    animation: scanlines 5s infinite;
    animation-delay: 1s;
    animation-direction: reverse;
  }

  .banner{
    text-align: left;
    display: flex;
    justify-content: center;
    font-size: 3px;
    color: rgb(154, 255, 120);
  }

  .title{
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .bio{
    text-align: center;
    margin-top: -2%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
  }

  .command-list ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    text-align: center;
  }

  .terminal-icon{
    font-size: 48px;
    border: 2px solid rgb(92, 217, 30);
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8%;
  }

  .terminal-text{
    margin-top: 3%;
  }

  .command-list li, a:link, a:visited{
    display: inline-block;
    text-decoration: none;
    color: rgb(92, 217, 30);
  }

  @keyframes scanlines{
    from{top: 0;}
    to{top: 93%;}
  }

  @keyframes screen-flicker {
    0% {
      opacity: 0.28;
    }
    5% {
      opacity: 0.35;
    }
    10% {
      opacity: 0.24;
    }
    15% {
      opacity: 0.91;
    }
    20% {
      opacity: 0.18;
    }
    25% {
      opacity: 0.84;
    }
    30% {
      opacity: 0.66;
    }
    35% {
      opacity: 0.68;
    }
    40% {
      opacity: 0.27;
    }
    45% {
      opacity: 0.85;
    }
    50% {
      opacity: 0.96;
    }
    55% {
      opacity: 0.09;
    }
    60% {
      opacity: 0.20;
    }
    65% {
      opacity: 0.72;
    }
    70% {
      opacity: 0.53;
    }
    75% {
      opacity: 0.37;
    }
    80% {
      opacity: 0.71;
    }
    85% {
      opacity: 0.70;
    }
    90% {
      opacity: 0.70;
    }
    95% {
      opacity: 0.36;
    }
    100% {
      opacity: 0.24;
    }
  }

  @keyframes glow{
    0% {box-shadow: 0px 0px 5px 1px rgb(58, 140, 18);}
    25% {box-shadow: 0px 0px 5px 2px rgb(58, 140, 18);}
    50% {box-shadow: 0px 0px 5px 3px rgb(58, 140, 18);}
    75% {box-shadow: 0px 0px 5px 4px rgb(58, 140, 18);}
    100% {box-shadow: 0px 0px 5px 5px rgb(58, 140, 18);}
  }
}

@media screen and (min-width: 835px){
  .container{
      width: 100%;
      height: 100%;
      position: fixed;
      top:0;
      left:0;
      background-color: rgb(166,179,164);
    }

  .monitor-background{
    background-color: rgb(112,131,109);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 97%;
    height: 97%;
    border-radius: 10px;
  }

  .screen{
    background: radial-gradient(circle, rgb(22, 82, 49) 20%, rgb(0, 0, 0) 100%);
    border: 6px solid black;
    border-radius: 10px;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    box-shadow: 0px 0px 5px 1px rgb(58, 140, 18);
    color: rgb(92, 217, 30);
    font-size: 20px;
    text-align: center;
    animation: glow 5s infinite;
    animation-direction: alternate;
  }

  .screen::before{
    content: "";
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%);
    background-size: 100% 20px, 3px 100%;
    pointer-events: none;
    z-index: -2;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .screen::after{
    content: "";
    background: rgba(18, 16, 16, 0.1);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    display: block;
    opacity: 0;
    z-index: -2;
    animation: screen-flicker 2s infinite;
  }

  .scanline1 {
    position: absolute;
    height: 10px;
    width: 100%;
    background-color: green;
    opacity: 0.1;
    animation: scanlines 4s infinite;
    animation-direction: reverse;
  }

  .scanline2 {
    position: absolute;
    height: 10px;
    width: 100%;
    background-color: green;
    opacity: 0.1;
    animation: scanlines 5s infinite;
    animation-delay: 1s;
    animation-direction: reverse;
  }

  .banner{
    text-align: left;
    display: flex;
    justify-content: center;
    font-size: 3px;
    color: rgb(154, 255, 120);
  }

  .title{
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .bio{
    text-align: center;
    margin-top: -2%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
  }

  .command-list ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    text-align: center;
  }

  .terminal-icon{
    font-size: 58px;
    border: 2px solid rgb(92, 217, 30);
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
  }

  .terminal-text{
    margin-top: 3%;
  }

  .command-list li, a:link, a:visited{
    display: inline-block;
    text-decoration: none;
    color: rgb(92, 217, 30);
  }

  @keyframes scanlines{
    from{top: 0;}
    to{top: 93%;}
  }

  @keyframes screen-flicker {
    0% {
      opacity: 0.28;
    }
    5% {
      opacity: 0.35;
    }
    10% {
      opacity: 0.24;
    }
    15% {
      opacity: 0.91;
    }
    20% {
      opacity: 0.18;
    }
    25% {
      opacity: 0.84;
    }
    30% {
      opacity: 0.66;
    }
    35% {
      opacity: 0.68;
    }
    40% {
      opacity: 0.27;
    }
    45% {
      opacity: 0.85;
    }
    50% {
      opacity: 0.96;
    }
    55% {
      opacity: 0.09;
    }
    60% {
      opacity: 0.20;
    }
    65% {
      opacity: 0.72;
    }
    70% {
      opacity: 0.53;
    }
    75% {
      opacity: 0.37;
    }
    80% {
      opacity: 0.71;
    }
    85% {
      opacity: 0.70;
    }
    90% {
      opacity: 0.70;
    }
    95% {
      opacity: 0.36;
    }
    100% {
      opacity: 0.24;
    }
  }

  @keyframes glow{
    0% {box-shadow: 0px 0px 5px 1px rgb(58, 140, 18);}
    25% {box-shadow: 0px 0px 5px 2px rgb(58, 140, 18);}
    50% {box-shadow: 0px 0px 5px 3px rgb(58, 140, 18);}
    75% {box-shadow: 0px 0px 5px 4px rgb(58, 140, 18);}
    100% {box-shadow: 0px 0px 5px 5px rgb(58, 140, 18);}
  }
}
