body{
    background-color: rgb(214,13,40);
    margin: 0;
    font-family: modular;
}

.circle{
    background-color: rgb(42,176,255);
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: inline-block;
    border: white solid 15px;
    margin-left: 7%;
    margin-top: 7%;
    position: absolute;
}

.inner-circle{
    background-color: rgb(71,117,180);
    height: 145px;
    width: 145px;
    border-radius: 50%;
    display: inline-block;
    left: 8%;
    top: 8%;
    position: absolute;
}

.innermost-circle{
    background-color: rgb(42,176,255);
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: inline-block;
    left: 4%;
    top: 3%;
    position: absolute;
}

.circle-shine{
    background-color: rgb(149,213,255);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    left: 20%;
    top: 15%;
    position: absolute;
}

.small-circle1{
    background-color: rgb(233,32,32);
    border: black 5px solid;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 35%;
    margin-top: 6%;
    position: absolute;
}

.small-circle2{
    background-color: rgb(254,253,1);
    border: black 5px solid;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 45%;
    margin-top: 6%;
    position: absolute;
}

.small-circle3{
    background-color: rgb(107,137,53);
    border: black 5px solid;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 55%;
    margin-top: 6%;
    position: absolute;
}

.small-shine1{
    background-color: rgb(243,110,106);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin-left: 10px;
    margin-top: 8px;
}

.small-shine2{
    background-color: rgb(249,255,137);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin-left: 10px;
    margin-top: 8px;
}

.small-shine3{
    background-color: rgb(167,206,145);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin-left: 10px;
    margin-top: 8px;
}

.border{
    background-color: black;
    display: inline-block;
    width: 45%;
    height: 15px;
    margin-top: 30%;
    position: relative;
}

.border2{
    background-color: black;
    display: inline-block;
    position: absolute;
    width: 25%;
    height: 15px;
    margin-top: 21%;
    transform: skewY(-35deg);
}

.border3{
    background-color: black;
    display: inline-block;
    width: 30%;
    height: 15px;
    margin-top: 12%;
    margin-left: 25%;
    position: absolute;
}

.screen-background{
    background-color: rgb(217,217,217);
    display: inline-block;
    position: absolute;
    width: 785px;
    height: 667px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    border: black solid 5px;
    border-radius: 20px;
    box-sizing: border-box;
}

#screen.off{
    background-color: black;
    display: inline-block;
    position: absolute;
    width: 80%;
    height: 73%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    border: black solid 5px;
    box-sizing: border-box;
    border-radius: 20px;
}

#screen.on{
    background-color: rgb(240,240,240);
    display: inline-block;
    position: absolute;
    width: 80%;
    height: 73%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    border: black solid 5px;
    box-sizing: border-box;
    border-radius: 20px;
}

@keyframes fadeIn {
  0% {
    background-color: rgb(0,0,0);
  }
  10% {
    background-color: rgb(24,24,24);
  }
  20% {
    background-color: rgb(48,48,48);
  }
  30% {
    background-color: rgb(72,72,72);
  }
  40% {
    background-color: rgb(96,96,96);
  }
  50% {
    background-color: rgb(120,120,120);
  }
  60% {
    background-color: rgb(144,144,144);
  }
  70% {
    background-color: rgb(168,168,168);
  }
  80% {
    background-color: rgb(192,192,192);
  }
  90% {
    background-color: rgb(216,216,216);
  }
  100% {
    background-color: rgb(240,240,240);
  }
}

@keyframes fadeOut {
  0% {
    background-color: rgb(240,240,240);
  }
  10% {
    background-color: rgb(216,216,216);
  }
  20% {
    background-color: rgb(192,192,192);
  }
  30% {
    background-color: rgb(168,168,168);
  }
  40% {
    background-color: rgb(144,144,144);
  }
  50% {
    background-color: rgb(120,120,120);
  }
  60% {
    background-color: rgb(96,96,96);
  }
  70% {
    background-color: rgb(72,72,72);
  }
  80% {
    background-color: rgb(48,48,48);
  }
  90% {
    background-color: rgb(24,24,24);
  }
  100% {
    background-color: rgb(0,0,0);
  }
}

.circle4{
    background-color: rgb(255,4,40);
    display: inline-block;
    position: absolute;
    width: 5%;
    height: 5%;
    border-radius: 50%;
    border: 5px solid black;
    margin-top: 76%;
    margin-left: 12%;

}

.oval1{
    background-color: black;
    width: 10%;
    height: 1%;
    display: inline-block;
    position: absolute;
    margin-top: 75%;
    margin-left: 80%;
}

.oval2{
    background-color: black;
    width: 10%;
    height: 1%;
    display: inline-block;
    position: absolute;
    margin-top: 78%;
    margin-left: 80%;
}

.oval3{
    background-color: black;
    width: 10%;
    height: 1%;
    display: inline-block;
    position: absolute;
    margin-top: 81%;
    margin-left: 80%;
}

.screen-fix{
    background-color: rgb(214,13,40);
    display: inline-block;
    position: absolute;
    border-top: black solid 5px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: 9.9%;
    margin-top: 74%;
    height: 10%;
    width: 8%;
    transform: skewY(40deg);
}

.circle5{
    background-color: rgb(255,4,40);
    display: inline-block;
    position: absolute;
    width: 3%;
    height: 3%;
    border-radius: 50%;
    border: 5px solid black;
    margin-top: 3%;
    margin-left: 40%;
}

.circle6{
    background-color: rgb(255,4,40);
    display: inline-block;
    position: absolute;
    width: 3%;
    height: 3%;
    border-radius: 50%;
    border: 5px solid black;
    margin-top: 3%;
    margin-left: 60%;
}

#on-off{
    background-color: rgb(0,43,39);
    display: inline-block;
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid black;
    box-sizing: border-box;
    margin-top: 85%;
    margin-left: 10%;
}

::placeholder{
    color: rgb(43,97,52);
    font-family: 'Press Start 2P', monospace;
    text-align: center;
}

input {
    background-color: rgb(69,150,81);
    color: rgb(43,97,52);
    border: 5px black solid;
    border-radius: 10px;
    margin-top: 90%;
    margin-left: 33%;
    height: 200px;
    width: 300px;
    font-size: 68px;
    text-align: center;
    font-family: 'Press Start 2P', monospace;
}

.up{
    background-color: rgb(0,43,39);
    width: 75px;
    height: 75px;
    margin-left: 77.7%;
    margin-top: -24.7%;
    position: absolute;
    border: solid black 1px;
    box-sizing: border-box;
}

.down{
    background-color: rgb(0,43,39);
    width: 75px;
    height: 75px;
    margin-left: 77.7%;
    margin-top: -9.3%;
    position: absolute;
    border: solid black 1px;
    box-sizing: border-box;
}

.left{
    background-color: rgb(0,43,39);
    width: 75px;
    height: 75px;
    margin-left: 70%;
    margin-top: -17%;
    position: absolute;
    border: solid black 1px;
    box-sizing: border-box;
}

.right{
    background-color: rgb(0,43,39);
    width: 75px;
    height: 75px;
    margin-left: 85.3%;
    margin-top: -17%;
    position: absolute;
    border: solid black 1px;
    box-sizing: border-box;
}

.square{
    border: solid rgb(0,43,39) 1px;
    background-color: rgb(0,43,39);
    box-sizing: border-box;
    width: 75px;
    height: 75px;
    margin-left: 77.7%;
    margin-top: -17%;
    position: absolute;
}

.screen-border{
    align-content: center;
    margin-left: 10%;
    margin-top: 40%;
    width: 80%;
}

@media (min-width: 1024px){
    .circle{
        background-color: rgb(42,176,255);
        height: 80px;
        width: 80px;
        border-radius: 50%;
        display: inline-block;
        border: white solid 7.5px;
        margin-left: 4%;
        margin-top: 4%;
        position: absolute;
    }

    .inner-circle{
        background-color: rgb(71,117,180);
        height: 72.5px;
        width: 72.5px;
        border-radius: 50%;
        display: inline-block;
        left: 8%;
        top: 8%;
        position: absolute;
    }

    .innermost-circle{
        background-color: rgb(42,176,255);
        height: 45px;
        width: 45px;
        border-radius: 50%;
        display: inline-block;
        left: 4%;
        top: 3%;
        position: absolute;
    }

    .circle-shine{
        background-color: rgb(149,213,255);
        height: 15px;
        width: 15px;
        border-radius: 50%;
        display: inline-block;
        left: 20%;
        top: 15%;
        position: absolute;
    }

    .small-circle1{
        background-color: rgb(233,32,32);
        border: black 2.5px solid;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        display: inline-block;
        margin-left: 17%;
        margin-top: 3%;
        position: absolute;
    }

    .small-circle2{
        background-color: rgb(254,253,1);
        border: black 2.5px solid;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        display: inline-block;
        margin-left: 22%;
        margin-top: 3%;
        position: absolute;
    }

    .small-circle3{
        background-color: rgb(107,137,53);
        border: black 2.5px solid;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        display: inline-block;
        margin-left: 27%;
        margin-top: 3%;
        position: absolute;
    }

    .small-shine1{
        background-color: rgb(243,110,106);
        height: 7.5px;
        width: 7.5px;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        margin-left: 10px;
        margin-top: 8px;
    }

    .small-shine2{
        background-color: rgb(249,255,137);
        height: 7.5px;
        width: 7.5px;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        margin-left: 10px;
        margin-top: 8px;
    }

    .small-shine3{
        background-color: rgb(167,206,145);
        height: 7.5px;
        width: 7.5px;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        margin-left: 10px;
        margin-top: 8px;
    }

    .border{
        background-color: black;
        display: inline-block;
        width: 22.5%;
        height: 7.5px;
        margin-top: 16%;
        position: relative;
    }

    .border2{
        background-color: black;
        display: inline-block;
        position: absolute;
        width: 12.5%;
        height: 7.5px;
        margin-top: 11.6%;
        transform: skewY(-35deg);
    }

    .border3{
        background-color: black;
        display: inline-block;
        width: 65%;
        height: 7.5px;
        margin-top: 7.2%;
        margin-left: 12.5%;
        position: absolute;
    }

    .screen-background{
        background-color: rgb(217,217,217);
        display: inline-block;
        position: absolute;
        width: 80%;
        height: 60%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 1%;
        border: black solid 2.5px;
        border-radius: 20px;
        box-sizing: border-box;
    }

    #screen.off{
        background-color: black;
        display: inline-block;
        position: absolute;
        width: 92%;
        height: 90%;
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 3.3%;
        border: black solid 2.5px;
        box-sizing: border-box;
        border-radius: 20px;
    }

    #screen.on{
        background-color: rgb(240,240,240);
        display: inline-block;
        position: absolute;
        width: 92%;
        height: 90%;
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 3.3%;
        border: black solid 2.5px;
        box-sizing: border-box;
        border-radius: 20px;
    }

    @keyframes fadeIn {
      0% {
        background-color: rgb(0,0,0);
      }
      10% {
        background-color: rgb(24,24,24);
      }
      20% {
        background-color: rgb(48,48,48);
      }
      30% {
        background-color: rgb(72,72,72);
      }
      40% {
        background-color: rgb(96,96,96);
      }
      50% {
        background-color: rgb(120,120,120);
      }
      60% {
        background-color: rgb(144,144,144);
      }
      70% {
        background-color: rgb(168,168,168);
      }
      80% {
        background-color: rgb(192,192,192);
      }
      90% {
        background-color: rgb(216,216,216);
      }
      100% {
        background-color: rgb(240,240,240);
      }
    }

    @keyframes fadeOut {
      0% {
        background-color: rgb(240,240,240);
      }
      10% {
        background-color: rgb(216,216,216);
      }
      20% {
        background-color: rgb(192,192,192);
      }
      30% {
        background-color: rgb(168,168,168);
      }
      40% {
        background-color: rgb(144,144,144);
      }
      50% {
        background-color: rgb(120,120,120);
      }
      60% {
        background-color: rgb(96,96,96);
      }
      70% {
        background-color: rgb(72,72,72);
      }
      80% {
        background-color: rgb(48,48,48);
      }
      90% {
        background-color: rgb(24,24,24);
      }
      100% {
        background-color: rgb(0,0,0);
      }
    }

    .circle4{
        background-color: rgb(255,4,40);
        display: inline-block;
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2.5px solid black;
        margin-top: 61.3%;
        margin-left: 7%;

    }

    .oval1{
        background-color: black;
        width: 5%;
        height: 0.5%;
        display: inline-block;
        position: absolute;
        margin-top: 61%;
        margin-left: 85%;
    }

    .oval2{
        background-color: black;
        width: 5%;
        height: 0.5%;
        display: inline-block;
        position: absolute;
        margin-top: 62%;
        margin-left: 85%;
    }

    .oval3{
        background-color: black;
        width: 5%;
        height: 0.5%;
        display: inline-block;
        position: absolute;
        margin-top: 63%;
        margin-left: 85%;
    }

    .screen-fix{
        background-color: rgb(214,13,40);
        display: inline-block;
        position: absolute;
        border-top: black solid 5px;
        border-radius: 5px;
        box-sizing: border-box;
        margin-left: 10%;
        margin-top: 50.5%;
        height: 10%;
        width: 3%;
        transform: skewY(40deg);
    }

    .circle5{
        background-color: rgb(255,4,40);
        display: inline-block;
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2.5px solid black;
        margin-top: 0.9%;
        margin-left: 40%;
    }

    .circle6{
        background-color: rgb(255,4,40);
        display: inline-block;
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2.5px solid black;
        margin-top: 0.9%;
        margin-left: 60%;
    }

    #on-off{
        background-color: rgb(0,43,39);
        display: inline-block;
        position: absolute;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        border: 2.5px solid black;
        box-sizing: border-box;
        margin-top: 55%;
        margin-left: 7%;
    }

    ::placeholder{
        color: rgb(43,97,52);
        font-family: 'Press Start 2P', monospace;
        text-align: center;
    }

    input {
        background-color: rgb(69,150,81);
        color: rgb(43,97,52);
        border: 5px black solid;
        border-radius: 10px;
        margin-top: 54%;
        margin-left: 33%;
        height: 120px;
        width: 300px;
        font-size: 42px;
        text-align: center;
        font-family: 'Press Start 2P', monospace;
    }

    .up{
        background-color: rgb(0,43,39);
        width: 37.5px;
        height: 37.5px;
        margin-left: 77.7%;
        margin-top: -11.2%;
        position: absolute;
        border: solid black 1px;
        box-sizing: border-box;
    }

    .down{
        background-color: rgb(0,43,39);
        width: 37.5px;
        height: 37.5px;
        margin-left: 77.7%;
        margin-top: -4%;
        position: absolute;
        border: solid black 1px;
        box-sizing: border-box;
    }

    .left{
        background-color: rgb(0,43,39);
        width: 37.5px;
        height: 37.5px;
        margin-left: 74.2%;
        margin-top: -7.6%;
        position: absolute;
        border: solid black 1px;
        box-sizing: border-box;
    }

    .right{
        background-color: rgb(0,43,39);
        width: 37.5px;
        height: 37.5px;
        margin-left: 81.2%;
        margin-top: -7.6%;
        position: absolute;
        border: solid black 1px;
        box-sizing: border-box;
    }

    .square{
        border: solid rgb(0,43,39) 1px;
        background-color: rgb(0,43,39);
        box-sizing: border-box;
        width: 37.5px;
        height: 37.5px;
        margin-left: 77.7%;
        margin-top: -7.6%;
        position: absolute;
    }

    .screen-border{
        align-content: center;
        margin-left: 10%;
        margin-top: 40%;
        width: 80%;
    }
}
