body{
    max-width: 1280px;
}

.container{
    background-color: rgb(214,13,40);
    position: fixed;
    margin: 0;
    padding:0;
    top:0;
    left:0;
    font-family: modular;
    width: 100%;
    height: 100%;
}

br{
    height: 1%;
}

.circle{
    background-color: rgb(42,176,255);
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: inline-block;
    border: white solid 15px;
    margin-left: 7%;
    margin-top: 7%;
    position: absolute;
}

.inner-circle{
    background-color: rgb(71,117,180);
    height: 145px;
    width: 145px;
    border-radius: 50%;
    display: inline-block;
    left: 8%;
    top: 8%;
    position: absolute;
}

.innermost-circle{
    background-color: rgb(42,176,255);
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: inline-block;
    left: 4%;
    top: 3%;
    position: absolute;
}

.circle-shine{
    background-color: rgb(149,213,255);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    left: 20%;
    top: 15%;
    position: absolute;
}

.small-circle1{
    background-color: rgb(233,32,32);
    border: black 5px solid;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 35%;
    margin-top: 6%;
    position: absolute;
}

.small-circle2{
    background-color: rgb(254,253,1);
    border: black 5px solid;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 45%;
    margin-top: 6%;
    position: absolute;
}

.small-circle3{
    background-color: rgb(107,137,53);
    border: black 5px solid;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 55%;
    margin-top: 6%;
    position: absolute;
}

.small-shine1{
    background-color: rgb(243,110,106);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin-left: 10px;
    margin-top: 8px;
}

.small-shine2{
    background-color: rgb(249,255,137);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin-left: 10px;
    margin-top: 8px;
}

.small-shine3{
    background-color: rgb(167,206,145);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin-left: 10px;
    margin-top: 8px;
}

.borders{
    display: flex;
    width: 100%;
    margin-top: 30.5%;
}

.border{
   background-color: black;
   width: 45%;
   height: 15px;
}

.border2{
   background-color: black;
   width: 25%;
   height: 15px;
   transform: skewY(-35deg);
   margin-top: -8.8%;
}

.border3{
    background-color: black;
    width: 30%;
    height: 15px;
    flex: 1;
    margin-top: -17.5%;
}

.screen-background{
    background-color: rgb(217,217,217);
    display: inline-block;
    position: absolute;
    width: 785px;
    height: 667px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    border: black solid 5px;
    border-radius: 20px;
    box-sizing: border-box;
}

.screen-background:before {
    background-color: rgb(214,13,40);
    position: absolute;
    content: "";
    border-top: black solid 5px;
    border-radius: 5px;
    box-sizing: border-box;
    top: 620px;
    left: -7px;
    height: 70px;
    width: 80px;
    transform: skewY(40deg);
}

#screen.off{
    background-color: black;
    display: inline-block;
    position: absolute;
    width: 80%;
    height: 73%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    border: black solid 5px;
    box-sizing: border-box;
    border-radius: 20px;
}

#screen.on{
    background-color: rgb(240,240,240);
    display: inline-block;
    position: absolute;
    width: 80%;
    height: 73%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    border: black solid 5px;
    box-sizing: border-box;
    border-radius: 20px;
}

@keyframes fadeIn {
  0% {
    background-color: rgb(0,0,0);
  }
  10% {
    background-color: rgb(24,24,24);
  }
  20% {
    background-color: rgb(48,48,48);
  }
  30% {
    background-color: rgb(72,72,72);
  }
  40% {
    background-color: rgb(96,96,96);
  }
  50% {
    background-color: rgb(120,120,120);
  }
  60% {
    background-color: rgb(144,144,144);
  }
  70% {
    background-color: rgb(168,168,168);
  }
  80% {
    background-color: rgb(192,192,192);
  }
  90% {
    background-color: rgb(216,216,216);
  }
  100% {
    background-color: rgb(240,240,240);
  }
}

@keyframes fadeOut {
  0% {
    background-color: rgb(240,240,240);
  }
  10% {
    background-color: rgb(216,216,216);
  }
  20% {
    background-color: rgb(192,192,192);
  }
  30% {
    background-color: rgb(168,168,168);
  }
  40% {
    background-color: rgb(144,144,144);
  }
  50% {
    background-color: rgb(120,120,120);
  }
  60% {
    background-color: rgb(96,96,96);
  }
  70% {
    background-color: rgb(72,72,72);
  }
  80% {
    background-color: rgb(48,48,48);
  }
  90% {
    background-color: rgb(24,24,24);
  }
  100% {
    background-color: rgb(0,0,0);
  }
}

.circle4{
    background-color: rgb(255,4,40);
    display: inline-block;
    position: absolute;
    width: 5%;
    height: 5%;
    border-radius: 50%;
    border: 5px solid black;
    margin-top: 76%;
    margin-left: 12%;

}

.oval1{
    background-color: black;
    width: 10%;
    height: 1%;
    display: inline-block;
    position: absolute;
    margin-top: 75%;
    margin-left: 80%;
}

.oval2{
    background-color: black;
    width: 10%;
    height: 1%;
    display: inline-block;
    position: absolute;
    margin-top: 78%;
    margin-left: 80%;
}

.oval3{
    background-color: black;
    width: 10%;
    height: 1%;
    display: inline-block;
    position: absolute;
    margin-top: 81%;
    margin-left: 80%;
}

.circle5{
    background-color: rgb(255,4,40);
    display: inline-block;
    position: absolute;
    width: 3%;
    height: 3%;
    border-radius: 50%;
    border: 5px solid black;
    margin-top: 3%;
    margin-left: 40%;
}

.circle6{
    background-color: rgb(255,4,40);
    display: inline-block;
    position: absolute;
    width: 3%;
    height: 3%;
    border-radius: 50%;
    border: 5px solid black;
    margin-top: 3%;
    margin-left: 60%;
}

.oval4{
    background-color: rgb(223,35,33);
    display: inline-block;
    position: absolute;
    width: 10%;
    height: 1%;
    border-radius: 35%;
    border: 5px solid black;
    margin-top: -7%;
    margin-left: 35%;
}

.oval5{
    background-color: rgb(78,120,180);
    display: inline-block;
    position: absolute;
    width: 10%;
    height: 1%;
    border-radius: 35%;
    border: 5px solid black;
    margin-left: 50%;
    margin-top: -7%;
}

.pokedex-bottom{
    display: flex;
    width: 100%;
    margin-top: 90%;
}

#on-off{
    background-color: rgb(0,43,39);
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid black;
    box-sizing: border-box;
    margin-left: 10%;
    margin-top: -5%;
}

::placeholder{
    color: rgb(43,97,52);
    font-family: 'Press Start 2P', monospace;
    text-align: center;
}

input {
    background-color: rgb(69,150,81);
    color: rgb(43,97,52);
    border: 5px black solid;
    border-radius: 10px;
    height: 200px;
    width: 300px;
    font-size: 68px;
    text-align: center;
    font-family: 'Press Start 2P', monospace;
    margin-left: 24%;
}

.d-pad{
    display: inline-grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-left: 6%;
    margin-top: -11%;
}

.up{
    background-color: rgb(0,43,39);
    width: 75px;
    height: 75px;
    grid-area: 2 / 3 / 3 / 4;
    border: solid black 1px;
    box-sizing: border-box;
}

.down{
    background-color: rgb(0,43,39);
    width: 75px;
    height: 75px;
    grid-area: 4 / 3 / 5 / 4;
    border: solid black 1px;
    box-sizing: border-box;
}

.left{
    background-color: rgb(0,43,39);
    width: 75px;
    height: 75px;
    grid-area: 3 / 2 / 4 / 3;
    border: solid black 1px;
    box-sizing: border-box;
}

.right{
    background-color: rgb(0,43,39);
    width: 75px;
    height: 75px;
    grid-area: 3 / 4 / 4 / 5;
    border: solid black 1px;
    box-sizing: border-box;
}

.cross-center{
    border: solid rgb(0,43,39) 1px;
    background-color: rgb(0,43,39);
    box-sizing: border-box;
    width: 75px;
    height: 75px;
    grid-area: 3 / 3 / 4 / 4;
}

@media (min-width: 1024px){

    body{
        max-width: 1280px;
    }

    .container{
        background-color: rgb(214,13,40);
        position: fixed;
        margin: 0;
        padding:0;
        top:0;
        left:0;
        font-family: modular;
        width: 100%;
        max-width: 1800px;
        height: 100%;
    }

    .circle{
        background-color: rgb(42,176,255);
        height: 60px;
        width: 60px;
        border-radius: 50%;
        display: inline-block;
        border: white solid 7.5px;
        margin-left: 1%;
        margin-top: 1%;
        position: absolute;
    }

    .inner-circle{
        background-color: rgb(71,117,180);
        height: 54px;
        width: 54px;
        border-radius: 50%;
        display: inline-block;
        left: 8%;
        top: 8%;
        position: absolute;
    }

    .innermost-circle{
        background-color: rgb(42,176,255);
        height: 32px;
        width: 32px;
        border-radius: 50%;
        display: inline-block;
        left: 4%;
        top: 3%;
        position: absolute;
    }

    .circle-shine{
        background-color: rgb(149,213,255);
        height: 15px;
        width: 15px;
        border-radius: 50%;
        display: inline-block;
        left: 20%;
        top: 15%;
        position: absolute;
    }

    .small-circle1{
        background-color: rgb(233,32,32);
        border: black 2.5px solid;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        display: inline-block;
        margin-left: 11%;
        margin-top: 1%;
        position: absolute;
    }

    .small-circle2{
        background-color: rgb(254,253,1);
        border: black 2.5px solid;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        display: inline-block;
        margin-left: 15%;
        margin-top: 1%;
        position: absolute;
    }

    .small-circle3{
        background-color: rgb(107,137,53);
        border: black 2.5px solid;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        display: inline-block;
        margin-left: 19%;
        margin-top: 1%;
        position: absolute;
    }

    .small-shine1{
        background-color: rgb(243,110,106);
        height: 3.75px;
        width: 3.75px;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        margin-left: 3px;
        margin-top: 3px;
    }

    .small-shine2{
        background-color: rgb(249,255,137);
        height: 3.75px;
        width: 3.75px;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        margin-left: 3px;
        margin-top: 3px;
    }

    .small-shine3{
        background-color: rgb(167,206,145);
        height: 3.75px;
        width: 3.75px;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        margin-left: 3px;
        margin-top: 3px;
    }

    .borders{
        display: flex;
        width: 100%;
        margin-top: 8%;
    }

    .border{
       background-color: black;
       width: 21%;
       height: 7.5px;
   }

   .border2{
       background-color: black;
       width: 6%;
       height: 7.5px;
       transform: skewY(-35deg);
       margin-top: -2.1%
   }

   .border3{
        background-color: black;
        width: 73%;
        height: 7.5px;
        flex: 1;
        margin-top: -4.2%;
    }

    .screen-background{
        background-color: rgb(217,217,217);
        display: block;
        position: relative;
        width: 80%;
        height: 525px;
        max-width: 1050px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1%;
        border: black solid 2.5px;
        border-radius: 20px;
        box-sizing: border-box;
    }

    .screen-background:before {
        background-color: rgb(214,13,40);
        position: absolute;
        content: "";
        border-top: black solid 5px;
        border-radius: 5px;
        box-sizing: border-box;
        top: 500px;
        left: -3px;
        height: 35px;
        width: 40px;
        transform: skewY(40deg);
    }

    #screen.off{
        background-color: black;
        display: block;
        position: relative;
        width: 90%;
        max-width: 900px;
        height: 445px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4.5%;
        border: black solid 2.5px;
        box-sizing: border-box;
        border-radius: 20px;
    }

    #screen.on{
        background-color: rgb(240,240,240);
        display: block;
        position: relative;
        width: 90%;
        max-width: 900px;
        height: 445px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4.5%;
        border: black solid 2.5px;
        box-sizing: border-box;
        border-radius: 20px;
    }

    @keyframes fadeIn {
      0% {
        background-color: rgb(0,0,0);
      }
      10% {
        background-color: rgb(24,24,24);
      }
      20% {
        background-color: rgb(48,48,48);
      }
      30% {
        background-color: rgb(72,72,72);
      }
      40% {
        background-color: rgb(96,96,96);
      }
      50% {
        background-color: rgb(120,120,120);
      }
      60% {
        background-color: rgb(144,144,144);
      }
      70% {
        background-color: rgb(168,168,168);
      }
      80% {
        background-color: rgb(192,192,192);
      }
      90% {
        background-color: rgb(216,216,216);
      }
      100% {
        background-color: rgb(240,240,240);
      }
    }

    @keyframes fadeOut {
      0% {
        background-color: rgb(240,240,240);
      }
      10% {
        background-color: rgb(216,216,216);
      }
      20% {
        background-color: rgb(192,192,192);
      }
      30% {
        background-color: rgb(168,168,168);
      }
      40% {
        background-color: rgb(144,144,144);
      }
      50% {
        background-color: rgb(120,120,120);
      }
      60% {
        background-color: rgb(96,96,96);
      }
      70% {
        background-color: rgb(72,72,72);
      }
      80% {
        background-color: rgb(48,48,48);
      }
      90% {
        background-color: rgb(24,24,24);
      }
      100% {
        background-color: rgb(0,0,0);
      }
    }

    .circle4{
        background-color: rgb(255,4,40);
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2.5px solid black;
        margin-top: 9px;
        margin-left: 7%;
    }

    .oval1{
        background-color: black;
        width: 5%;
        height: 0.5%;
        display: inline-block;
        position: absolute;
        margin-top: 8px;
        margin-left: 85%;
    }

    .oval2{
        background-color: black;
        width: 5%;
        height: 0.5%;
        display: inline-block;
        position: absolute;
        margin-top: 15px;
        margin-left: 85%;
    }

    .oval3{
        background-color: black;
        width: 5%;
        height: 0.5%;
        display: inline-block;
        position: absolute;
        margin-top: 22px;
        margin-left: 85%;
    }

    .circle5{
        background-color: rgb(255,4,40);
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2.5px solid black;
        margin-top: -472px;
        margin-left: 40%;
    }

    .circle6{
        background-color: rgb(255,4,40);
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2.5px solid black;
        margin-top: -472px;
        margin-left: 60%;
    }

    .pokedex-bottom{
        display: flex;
        width: 100%;
        margin-top: 10%;
    }

    .oval4{
        background-color: rgb(223,35,33);
        display: block;
        position: absolute;
        width: 50px;
        max=width: 40px;
        height: .5%;
        border-radius: 35%;
        border: 5px solid black;
        margin-top: -7%;
        margin-left: 22%;
    }

    .oval5{
        background-color: rgb(78,120,180);
        display: block;
        position: absolute;
        width: 50px;
        height: .5%;
        border-radius: 35%;
        border: 5px solid black;
        margin-top: -4%;
        margin-left: 22%;
    }

    #on-off{
        background-color: rgb(0,43,39);
        display: inline-block;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        border: 2.5px solid black;
        box-sizing: border-box;
        margin-left: 5%;
        margin-top: -9%;
    }

    ::placeholder{
        color: rgb(43,97,52);
        font-family: 'Press Start 2P', monospace;
        text-align: center;
    }

    form{
        height: 80px;
        width: 300px;
        box-sizing: border-box;
        margin-left: 27%;
        margin-top: -9%;
    }

    input {
        background-color: rgb(69,150,81);
        border: 5px black solid;
        border-radius: 10px;
        color: rgb(43,97,52);
        height: 80px;
        width: 300px;
        font-size: 42px;
        font-family: 'Press Start 2P', monospace;
        margin-left: -2%;
    }

    .d-pad{
        display: inline-grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-left: 12%;
    }

    .up{
        background-color: rgb(0,43,39);
        width: 30px;
        height: 30px;
        grid-area: 2 / 3 / 3 / 4;
        border: solid black 1px;
        box-sizing: border-box;
    }

    .down{
        background-color: rgb(0,43,39);
        width: 30px;
        height: 30px;
        grid-area: 4 / 3 / 5 / 4;
        border: solid black 1px;
        box-sizing: border-box;
    }

    .left{
        background-color: rgb(0,43,39);
        width: 30px;
        height: 30px;
        grid-area: 3 / 2 / 4 / 3;
        border: solid black 1px;
        box-sizing: border-box;
    }

    .right{
        background-color: rgb(0,43,39);
        width: 30px;
        height: 30px;
        grid-area: 3 / 4 / 4 / 5;
        border: solid black 1px;
        box-sizing: border-box;
    }

    .cross-center{
        border: solid rgb(0,43,39) 1px;
        background-color: rgb(0,43,39);
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        grid-area: 3 / 3 / 4 / 4;
    }
}
